li id="holiday-<%= holiday.id %>">

<ol>
 <span class="user"><%= link_to holiday.user.name, holiday.user %></span>
 <p>
 <%= holiday.reason %>
 <p>
 <%= holiday.startdate %>
 <p>
 <%= holiday.enddate %>
 <p>
 <%= holiday.approved %>
 <p>
 
</ol>