<table id="info-<%= info.id %>">

	<thead>
    <tr>
      <th>Employee No.</th>
      <th>Address</th>
      <th>Phone No.</th>
      <th>National Insurance No.</th>
      <th>Next of Kin</th>
      <th>NOK Contact</th>
      <th>Car Make</th>
      <th>Car Model</th>
      <th>Licence Plate</th>
      <th>Work Adaptions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

	<tbody>
      <tr> 


 <%= link_to info.user.name, info.user %>
 <td>
 <%= info.employeeno %></td>
 <td>
 <%= info.address %></td>
 <td>
 <%= info.phone %></td>
 <td>
 <%= info.ninumber %></td>
 <td>
 <%= info.nextofkin %></td>
 <td>
 <%= info.kinnumber %></td>
 <td>
 <%= info.carman %></td>
 <td>
 <%= info.carmodel %></td>
 <td>
 <%= info.licencep %></td>
 <td>
 <%= info.adaptions %></td>

</tr>

</tbody>
</table>


 

