<table id="info-<%= info.id %>">

	<thead>
    <tr>
      <th>Employee No.</th><p>
      <th>Address</th><p>
      <th>Phone No.</th><p>
      <th>National Insurance No.</th><p>
      <th>Next of Kin</th><p>
      <th>NOK Contact</th><p>
      <th>Car Make</th><p>
      <th>Car Model</th><p>
      <th>Licence Plate</th><p>
      <th>Work Adaptions</th><p>
      <th colspan="2"></th>
    </tr>
  </thead>

	<tbody>
      <tr> 


 <%= link_to info.user.name, info.user %>
 <td>
 <%= info.employeeno %></td><p>
 <td>
 <%= info.address %></td><p>
 <td>
 <%= info.phone %></td><p>
 <td>
 <%= info.ninumber %></td><p>
 <td>
 <%= info.nextofkin %></td><p>
 <td>
 <%= info.kinnumber %></td><p>
 <td>
 <%= info.carman %></td><p>
 <td>
 <%= info.carmodel %></td><p>
 <td>
 <%= info.licencep %></td><p>
 <td>
 <%= info.adaptions %></td><p>

</tr>

</tbody>
</table>


 

